
<div class="container">

<div class="login-container">

  <i class="material-icons icon-set">vpn_key</i>
  <div class="login-header">
  Login Panel
  </div>
  <div class="login-form">
    <form name="myForm" [formGroup]="myForm" (ngSubmit)=" myForm.valid && onSubmit()">

    <input type="mail" formControlName="email" placeholder="Email"/><br>

    <input type="password" formControlName="password"  class="form-control" placeholder="Password"/>
    <br>
    <button type="submit" class="btn btn-outline-primary">LOGIN</button>
    <br>

    <br>
  </form>
    <span (click)="goToRegister()"> No account yet? Register here</span>

  </div>

</div>




</div>
